/* header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sticky_nav{
    position: sticky;
    top:0;
}

.brand-logo{
    flex: 1;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.blank_logo{
    width: 25px;
    height: 25px;
    background-color: #dadada;
    border-radius: 50%;

}

nav{
    flex: 1;

}
nav ul{
    padding: 0;
    display: flex;
    list-style: none;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    line-height: 21.09px;
}

.social__profiles{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:12px;
}
.social__profiles button{
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}


.mobile_nav_menu{
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border: 0;
    background-color: transparent;
    display: none;
    
}
.mobile_nav_menu svg{
    width: 23px;
    height: 23px;
    pointer-events: none;
}
@media screen and (max-width:565px){
    .social__profiles{
        display: none;
    }
    .mobile_nav_menu{
        display: flex;
        align-items:center;
        justify-content: center;
    }
} */

header{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
}

.brand-logo{
    width: 52px;
    height: 52px;
}
.brand-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
    
}

.mobile_nav_menu{
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border: 0;
    background-color: transparent;
    display: none;
    
}

.nav_links_right ,.nav_links_left{
    display: flex;
    align-items: center;
    gap:28px;
}
.nav_links_right a,.nav_links_left a{
    text-decoration: none;
    font-weight: 400;
    line-height: 21.09px;
    color: rgb(0, 149, 255);
    text-transform: uppercase;
}